@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700);
@import url(assets/fonts/regular.css);
@import url(assets/fonts/bold.css);
@import url(assets/fonts/medium.css);
@import url(assets/fonts/light.css);
@import url(assets/fonts/encore-regular.css);
.read-more-hide,.read-more-show{font-weight:bolder;font-size:13px;float:right;line-height:23px;text-decoration-line:none;color:#0B5C7A}.hide{display:none}
body{
color:#000000 !important;
font-family: 'Roboto-Regular' !important;
}
.mt-20{
    margin-top:80px!important
}
.sts {
    background-color: #772778;
    color: #ffffff !important;
    padding: 0.3rem;
    border-radius: 0rem;
    cursor: pointer;
    /* margin-top: 1rem; */
    float: left;
    width: 10% !important;
  }
  .sts-border{
      width:90% !important;
  }
  
  #file-chosen{
    margin-left: 0rem;
    float: left;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border:1px solid #ccc;
      padding:9.5px;
    
  }
.banner_h img{
    height: 400px;
}
.activea{
    border-bottom: 3px solid #FFFFFF
}
.form-control{
    background: #FFFFFF !important;
border: 1px solid #C4C4C4 !important;
box-sizing: border-box;
border-radius: 5px !important;
}
.btn-primary{
    background: #772778 !important;
border: 1px solid #772778 !important;
box-sizing: border-box;
border-radius: 5px !important;
color:#FFFFFF;
text-transform: uppercase;
}
*:focus
{
         outline: none !important;
         box-shadow: none !important;
}
.form-group label{
    font-size: 17px;
line-height: 35px;
font-family:'Roboto-regular'!important;
width:100%;
color: #772778 !important;
}
input[type="date"]{
    color: #772778 !important;  
}
.card-box{
    background: #F7F7F7 !important;
border: 1px solid #CDC7C7  !important;
box-sizing: border-box;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1)  !important;
border-radius: 5px  !important;
width:100%;
}
.img-tp{
    height: 100%;
    max-height: 122px;
}
.about-box{
    background: #FFFFFF;
border: 2px solid #A59D9D;
box-sizing: border-box;
position: absolute;
    right: 13%;
    /* top: 135%; */
    margin-top: 18%;
    z-index: -1;

}
.about-border-box{
    background: #FFFFFF;
border: 1px solid #A59D9D;
box-sizing: border-box;
padding: 10px 0px;
}
.margn-20{
    margin-top: 130px !important;
}
.about-image img{
    width: auto !important;
    height: 300px;
}
.about-image{
    position: absolute;
    left: 47%;
    /* top: 135%; */
    margin-top: 6%;
    z-index: 1;
}
.about-box1{
    background: #FFFFFF;
border: 2px solid #A59D9D;
box-sizing: border-box;


}
.about-box1 p{
    font-size: 13px;
    font-weight: 500;
}
.about-box p{
    font-size: 13px;
    font-weight: 500;
}
.contain-para{
    font-size: 13px;
    padding: 10px 40px;
    margin-bottom: 0px;
    font-weight: 500;
}
.para-services{
    font-size: 13px;
    font-weight: 500;
    min-height: 123px;
}
.para-services .card-text{
    font-size: 13px;
    font-weight: 500;
  
}
.card-title{
    font-size: 18px;
    font-weight: bold;
line-height: 47px;
font-family:'Roboto-regular'!important;
color: #772778;
text-transform: uppercase;
}
.con-title{
    font-size: 16px;
    font-weight: bold;
text-align: left;
font-family:'Roboto-regular'!important;
color: #772778;
}
.abot-p{
    font-size: 13px;
    font-weight: 500;
}
.abot-img{
    height: 100%;
}
.contact-title{
    font-size: 16px;
    font-weight: bold;

font-family:'Roboto-regular'!important;
color: #772778;

}
.abot-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
font-family:'Roboto-regular'!important;
color: #772778;

}
.contain{
    background-color: #F4F3F3;
}
.ach-img{
    border: 15px solid #ffffff;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
}
.ach-text{
    font-size: 16px;
    font-weight: bolder; 
    color:#000000
}
.icon-part{
    color: #772778;
    font-size: 18px;
    font-weight: bold;
    float:left;
    width:5%;
}
.crd-t{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.crd{
    background-color: #DADADA;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
   text-align: center;
   line-height: 25px;
    font-family: 'Roboto-regular'!important;
    color: #772778;
    text-transform: uppercase;
}
.text-part{
    width: 90%;
    margin-left: 5%;
    float:left;
}
.contact-para{
    width:100%;
    display: flex;
}
.banner-para-span{
    font-family: Lato-Regular !important;
    font-size: 26px !important;
    font-weight: 500 !important;
}
.banner-para{
    width: 44%;
    position: absolute;
    top: 27%;
    left: 2%;
    font-family: Lato-Bold !important;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 48px;
text-transform: uppercase;

color: #FED5FF;
}
img{
    width:100%;
}
#header .navbar {
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    font-family:'Roboto-regular'!important;
   
}
.nav-link{
    color: #FFFFFF !important; 
    font-size: 14px;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
}
.footer{
    width:100%;
    padding: 20px 15px;
    background: #FFFDFD;
box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1);
font-family: 'Lato-Regular' !important;
}
.footer-para{
    font-family: 'Lato-Regular' !important;
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: right;
padding-top: 8px;
margin-top: 0rem !important;
margin-bottom: 0rem !important;
color: #000000;
}
.foot-img{
    width: 125px !important;
}










/*-------------------------------------------------tab----------------------------------------------*/
/* ----------------
		optional fade-in for images
---------------- */
@media screen,handheld {
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    .tabs img {
        animation: 3s fadeIn;
    }
    } /* / @media screen,handheld */
    
    /* ----------------------------*/
    
    /* ----------------
            tabs
    ---------------- */
    @media all {
        * {	box-sizing: border-box;	}
        .tabs {
            display: flex;
            flex-direction: row;
            row-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        box-sizing: border-box;
        }
        .tabs * { box-sizing: inherit; }
        .tabs :focus {
            box-shadow: none;
            outline: none;
            }
        .tabs .button-list {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;
        }
    
        .tabs button {
            border-radius: 0;
            text-align: left;
            margin: 0;
           font-size: 15px !important;
            font-weight: 500;
            padding: .75em .5em;
            background: #FFFAFF;
            border: 2px solid #772778;
            transition: all .6s ease-in-out;
            color:#772778 !important;
        }
    .tabs button:hover {
        color: #333;
    }
    .button-list button{
        padding: 10px 20px;
        border-radius: 3px;
    }
    .tabs button{
margin-top: 5px;
font-weight: 600;
    }
    
    .tabs .content .card{
        margin-left: 20px;
    }
   .cardl{
    margin-left: 21px;
        border-left: 6px solid #772778 !important;
        border-right:0px !important ;
        border-top:0px !important ;
        border-bottom: 0px !important;
        border-radius: 0px !important;
        font-size: 14px;
    }
    
    .tabs .content{
        background-color: transparent !important;
    }
    .tabs button.active::before{
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        left: 29%;
        border: 21px solid transparent;
        border-right-color: #772778;
        z-index: 9;
    }
  .content::before{
      
        /* content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        left: 30%;
        border: 10px solid transparent;
        border-right-color: #DA362A;
        z-index: 9; */
    }
        .tabs button:not(:first-of-type) {
            background: #FFFAFF;
            border: 2px solid #772778;
            box-sizing: border-box;
           
        }
        .tabs button.active {
            background: #772778;
            
            color: #ffffff !important;
        }
    
        .tabs section {
            flex: 2 1 auto;
            display: none;
            background: #fff;
            background: rgba(255,255,255,.6);
            padding: 1rem;
        }
      .tabs section.active {
            display: block;
        }
        .home-para{
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto-Regular';
        }
    
    .tabs img {
        display: block;
        margin: 0 auto;
        width: 100%;
        min-width: 180px;
        max-width: 800px;
        padding: 10px;
    }
    } /* / @media all */
    
    @media (max-width: 900px) {

        .tabs {

            flex-direction: column;
        }
        .tabs .button-list {
            flex-direction: row;
            min-width: 100%;
        }
        .tabs button:first-child:not(.active) {
            border-top: 1px solid #aaa;
            border-left: 1px solid #aaa;
        }
        .tabs button.active {
            border-right: 1px solid #aaa;
        }
    } /* / @media (max-width: 900px) */


    @media only screen and   (min-width:321px) and (max-width:768px){
        .navbar-collapse{
z-index: 9;
        }
        .order1{
            order:1!important;
        }
        .order2{
            order: 2!important;
        }
        .contact-para:first-child{
            margin-top: 30px !important;
        }
      .margn-20{
          margin: 0px !important;
      }
        .about-image{
position: static !important;
        }
        .about-box{
            position: static !important;
            margin-top: 0px;
        }
        .about-image img{
            width:100% !important;
            height: auto;
        }
        .navbar-nav-scroll{
background-color: #772778;
padding-left: 20px !important;
padding-right: 20px !important;
        }
        .navbar-toggler-icon {
            display: block !important;
            width: 1.5em;
            height: 3px !important;
            background-color: #fff !important;
            border: 1px solid transparent !important;
            margin: 4px 0px;
        }
        .navbar-toggler{
            border: 2px solid #ffffff !important;
        }
        .banner-para{
            display: none;
        }
        .banner_h img{
            height: auto;
        }
        .tabs .button-list {
         overflow-x: auto !important;
         width:100%;
        }
        .tabs .button-list button, .tabs button:first-child:not(.active){
            border: 2px solid #772778;
            min-width: 118px;
            line-height: 1.3;

        }
        .tabs button {
            border-radius: 0;
            text-align: left;
            margin: 0;
            font-size: 12px !important;
            font-weight: 600 !important;
            padding: 10px !important;
        }
        .tabs button.active::before{
            display: none;
        }
    }
    
