/* Webfont: PFHandbookPro-Light */



@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light.woff2') format('woff2'),
         url('Roboto-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('Raleway-Thin.eot');
  src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
       url('Raleway-Thin.woff2') format('woff2'),
       url('Raleway-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
