<span class="banner_h">
    <img src="/assets/img/1.png" height="400" alt="apply-online" />
    <p class="banner-para">
        What do we do, why do we do<br> it, and how do we do it! 
    </p>
</span>
<!-------include header------>

<%- include('include/_header') %>
<!-------include header------>


    <!--------main------->
 <main class="contain p-3">
     <div class="col-md-12">
         <p class="contain-para">
            Sals Shipping Pvt Ltd is a privated limited company formed in 2008 with headquarters in Navi Mumbai, India. We are committed to providing outstanding ship management services, putting the quality of our service and the safety of our people at the heart of everything we do.

         </p>
     </div>
 </main>
        <div class="container mt-5 mb-5" >
                <div class="row ">
                    <h5 class="card-title text-center">OUR WAY AHEAD</h5>
       <div class="col-md-6 mt-3 mb-5">
      <img src="assets/img/our-way-a.png"/>
       
       </div>
       <div class="col-md-6 mt-3 mb-5">
           <div class="about-box p-4">
        <h5 class="card-title text-center">OUR VISION

        </h5>
        <p>To become the preferred ship manager & maritime service provider for a selected group of clients.</p>
    </div>
         </div>
        
             <div class="col-md-6 mt-5">
                 <div class="about-box1 p-4">
              <h5 class="card-title text-center">OUR MISSION
      
              </h5>
              <p>To achieve our vision, we will use the best maritime practices & approach the jobs with passion & commitment.</p>
          </div>
               </div>
               <div class="col-md-6 mt-3">
                   <div class="about-image">
                <img class="" src="assets/img/our-way-b.png"/>
                 </div>
                 </div>

    </div>
    <div class="row  margn-20">
    <div class="col-md-12 mt-5 mb-5">
        <h5 class="card-title text-center mt-5">VALUES WE FOLLOW </h5>
        
    </div>
    <div class="col-md-12">
        <div class=" row about-border-box">
<div class="col-md-3">
<img class="abot-img" src="assets/img/team-work.png"/>
</div>
<div class="col-md-9">
    <div class="contact-para">        
        <div class="text-part">
            <div class="abot-title"> HEALTH & SAFETY
            </div>
           <p class="abot-p">At SALS our safety policy supports our commitment to zero injuries and the highest standards of protecting property, equipment and the environment complying with the ISM code.</p>
        </div>
    </div>
    <div class="contact-para">        
        <div class="text-part">
            <div class="abot-title"> OUR GOAL</div>
           <p class="abot-p">
            At SALS our goal is to provide reliable and efficient management. We keep our promises and deliver our very best across the spectrum of ship management services every single time.
           </p>
        </div>
    </div>
    <div class="contact-para">        
        <div class="text-part">
            <div class="abot-title">SECURITY</div>
           <p class="abot-p">
            Our priority is always to prevent unforeseen incidents, protecting the interests of our Owners, Clients and Seafarers and ensuring that their reputations remain intact and financially sustainable.
           </p>
        </div>
    </div>

    <div class="contact-para">        
        <div class="text-part">
            <div class="abot-title">POLICY</div>
           <p class="abot-p">
            We comply with all applicable international, national, state and local laws and regulations. We take action to control the risk of any possible personal injury, damage to the environment, property and equipment.


           </p>
        </div>
    </div>
    <div class="contact-para">        
        <div class="text-part">
            <div class="abot-title">ECO-FRIENDLY</div>
           <p class="abot-p">
            At SALS we are committed to a policy of conserving the environment, adopting the latest environmental standards and going beyond what is required by regulations and legislation.




           </p>
        </div>
    </div>
</div>
        </div>
    </div>
    </div>
        </div>
 

    <!--------main------->



<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>