<span class="banner_h">
    <img src="/assets/img/Achivments-pagebanner.png" alt="apply-online"height="400" />
    <p class="banner-para">
        Our online application process makes everything easy for you
    </p>
</span>
<!-------include header------>

<%- include('include/_header') %>
<!-------include header------>


    <!--------main------->
   <main class="contain">
  <div class="container pt-5 pb-5">
      <div class="row">
      <div class="col-md-4">
<img class="ach-img" src="assets/img/awards.png"/>
      </div>
      <div class="col-md-8">
          <div class="card-title mt-5">
            EMERGING COMPANY AWARD
          </div>
          <p class="ach-text mt-2">
            Emerging Company Award” conferred on <br>
            SALS Shipping Pvt. Ltd. by Indian Achiever Forum in year 2018.
          </p>
    </div>
</div>
  </div>
   </main>
        <div class="container mt-5 mb-5" >
                <div class="row">
       <div class="col-md-3">
        <div class="card">            
            <div class="card-body">
              <h5 class="crd">COMPLETED<br> 10 YEARS</h5>
              <p class="card-text crd-t">Providing exceptional professional service to our clients in various marine fields and growing with each passing year.</p>
            
            </div>
          </div>
       </div>
       <div class="col-md-3">
        <div class="card">            
            <div class="card-body">
              <h5 class="crd">OVER 100<br> VESSELS MANAGED</h5>
              <p class="card-text crd-t">We enabled the delivery of safe, reliable and efﬁcient ship management services through a network of in-house ship management & crew service for our clients.</p>
            
            </div>
          </div>
       </div>
       <div class="col-md-3">
        <div class="card">            
            <div class="card-body">
              <h5 class="crd">DRY DOCKING</h5>
              <p class="card-text crd-t">Revived fully fire-ravaged vessel which is presently fully operational. We also carry out restoration for all types of Vessels.</p>
            
            </div>
          </div>
       </div>
       <div class="col-md-3">
        <div class="card">            
            <div class="card-body">
              <h5 class="crd">RESTORATIONS</h5>
              <p class="card-text crd-t">Successfully carried out Dry Docking of vessels under our Management.</p>
            
            </div>
          </div>
       </div>
    
    </div>
        </div>
 

    <!--------main------->



<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>