<span class="banner_h">
    <img src="/assets/img/Contact-us-page-banner.png" alt="apply-online" height="400" />
    <p class="banner-para">
        Our online application process makes everything easy for you
    </p>
</span>
<!-------include header------>

<%- include('include/_header') %>
<!-------include header------>


    <!--------main------->
   
        <div class="container mt-5 mb-5" >
                <div class="row">
       <div class="col-md-8">
        <div class="card card-box">
         
        <div class="card-body">
            
           
        <form action="" method="post" >
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="fname" class="text-light">First Name</label>
                        <input type="hidden" name="id" value="" class="form-control"/>
                        <input type="text" name="fname" value="" class="form-control"/>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="lname" class="text-light">Last Name</label>
                            <input type="hidden" name="id" value="" class="form-control"/>
                            <input type="text" name="lname" value="" class="form-control"/>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12">
                       
                            <div class="form-group">
                                <label for="email" class="text-light">Email</label>
                               
                                <input type="email" name="email" value="" class="form-control"/>
                            
                            
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="mobile" class="text-light">Mobile no.</label>
                        <input type="hidden" name="id" value=""/>
                        <input type="text" name="mobile" value="" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                    <label for="message" class="text-light">Message</label>
                    <input type="hidden" name="id" value=""/>
                    <textarea type="text" name="message" value="" row="4" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group mt-5">
                <button type="submit" value="submit" class="btn btn-primary col-md-12">Submit</button>
             
             </div>
                </div>
                </form>
       </div>
       </div>
       </div>
       <div class="col-md-4">
        <div class="contact-para mb-3">
            <div class="icon-part"><i class="fa fa-map-marker"></i></div>
            <div class="text-part">
                <div class="contact-title"> location </div>
                B – 608-609, Mahaavir Icon, Sector -15, CBD Belapur, Navi Mumbai – 400614, Maharashtra, India 
            </div>
        </div>
        <div class="contact-para mb-3">
            <div class="icon-part"><i class="fa fa-phone"></i></div>
            <div class="text-part">
                <div class="contact-title"> Call </div>
                 (Mon-Fri./ 10 a.m. to 6 p.m.) + 91 22 6191 4700 - 99 (tel) + 91 22 6191 4747 (fax) 
            </div>
        </div>
        <div class="contact-para mb-3">
            <div class="icon-part"><i class="fa fa-envelope"></i></div>
            <div class="text-part">
                <div class="contact-title"> Email </div>
                 admin@salsshipping.com (for general) hr@salsshipping.com (for crew)
            </div>
        </div>
       </div>
    </div>
        </div>
 

    <!--------main------->



<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>