
<span class="banner_h">
  <img src="/assets/img/home-pagebanner.png" alt="apply-online"  width="100%">
  <p class="banner-para">
    Safe, reliable & efficient <br> 
   <span class="banner-para-span"> Ship-Management  services</span>
</p>
</span>
<!-------include header------>

<%- include('include/_header') %>
<!-------include header------>
<div class="container container pt-5 pb-5">
    <p class="home-para">
        SALS SHIPPING PVT. LTD. is an integrated maritime solutions leader, with a strong heritage spanning more than 10 years in the shipping industry, and trusted as a partner by responsible and demanding customers worldwide. Managed over 100 vessels worldwide, enable the delivery of safe, reliable and efﬁcient ship management services through a network of in-house ship management & crew service for our clients. SALS SHIPPING Pvt. Ltd provides the highest quality services to our clients, backed by a team of dedicated professionals who work to provide all encompassing solutions to any shipping jobs. With a principal focus on safety, security and protection of the environment, we can provide individually structured ship-management solutions and related services to suit any vessel type and any client, worldwide.
    </p>
</div>

    <!--------main------->
 
<main class="contain pb-5">
    <h5 class="card-title py-4  text-center">A PEEK INTO OUR COMPANY </h5>
    <section class=" header">
        <div class="container">
          
    
    
            <div class="row">
                <section class='tabs'>
                    <div class='button-list col-md-3'>
                      <button name='content1'>GLOBAL REACH
                      </button>
                      <button name='content2'>PEOPLE</button>
                      <button name='content3'>QUALITY ASSURANCE

                      </button>
                      <button name='content4'>EXPERIENCE</button>
                      <button name='content5'>WELFARE IS PARAMOUNT
                      </button>
                    </div><!-- / .button-list -->
                  
                    <section class="col-md-9 pt-0 content" id='content1'>
                      <div class="cardl">
                        <div class="card ">
                            <figure>
                                <a href="">
                                    <img alt='placeholder image 1' src="assets/img/tab-one.png"></a>
                               
                               </figure>
                            <div class="card-body">
                              
                              <p class="card-text">Our office plays a vital role in maintaining our all-important international connections. With more than 200 sea staff, we have extensive experience of managing multi-national crews.</p>
                              
                            </div>
                          </div>
                        </div>
                    </section><!-- / #content1 -->
                  
                    <section class="col-md-9 pt-0 content" id='content2'>
                      <div class="cardl">
                        <div class="card ">
                            <figure>
                                <a href=""><img alt='placeholder image 2' src="assets/img/tab-two.png"></a>
                                
                               </figure>
                            <div class="card-body">
                              
                              <p class="card-text">Our office plays a vital role in maintaining our all-important international connections. With more than 200 sea staff, we have extensive experience of managing multi-national crews.</p>
                              
                            </div>
                          </div>
                        </div>
                  </section><!-- / #content2 -->
                  
                    <section class="col-md-9 pt-0 content" id='content3'>
                      <div class="cardl">
                        <div class="card">
                            <figure>
                                <a href=""><img alt='placeholder image 3' src="assets/img/tab-three.png"></a>
                                
                               </figure>
                            <div class="card-body">
                              
                              <p class="card-text">Our office plays a vital role in maintaining our all-important international connections. With more than 200 sea staff, we have extensive experience of managing multi-national crews.</p>
                              
                            </div>
                          </div>
                        </div>
                  
                  </section><!-- / #content3 -->
                  <section class="col-md-9 pt-0 content" id='content4'>
                    <div class=" cardl">
                    <div class="card ">
                    <figure>
                        <a href=""><img alt='placeholder image 3' src="assets/img/tab-four.png"></a>
                      
                       </figure>
                    <div class="card-body">
                      
                      <p class="card-text">Our office plays a vital role in maintaining our all-important international connections. With more than 200 sea staff, we have extensive experience of managing multi-national crews.</p>
                      
                    </div>
                  </div>
                </div>
                   
                    </section><!-- / #content3 -->
                    <section class="col-md-9 pt-0 content" id='content5'>
                      <div class=" cardl">
                        <div class="card ">
                            <figure>
                                <a href=""><img alt='placeholder image 3' src="assets/img/tab-five.png"></a>
                               
                               </figure>
                            <div class="card-body">
                              
                              <p class="card-text">Our office plays a vital role in maintaining our all-important international connections. With more than 200 sea staff, we have extensive experience of managing multi-national crews.</p>
                              
                            </div>
                          </div>
                          </div>
                        
                        </section><!-- / #content3 -->
                  <!-- / .tabs -->
                  </section>
                  
            </div>
        </div>
    </section>
    
</main>
    <!--------main------->



<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>