<span class="banner_h">
    <img src="/assets/img/Services-pagebanner.png" height="400" alt="apply-online" />
    <p class="banner-para">
        Our expertise lies in
    </p>
</span>
<!-------include header------>

<%- include('include/_header') %>
<!-------include header------>


    <!--------main------->
 
        <div class="container mt-5 mb-5" >
                <div class="row ">
                    <h5 class="card-title text-center">SERVICES</h5>
       <div class="col-md-12 mt-3">
        <div class="card p-2">
            <div class="row">
                <div class="col-md-2">
            <img  src="/assets/img/servise-a.png" class="card-img-top img-tp" alt="..."/>
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 para-services">
              <h5 class="con-title">TECHNICAL MANAGEMENT

            </h5>
              <p class="card-text text-left">
                Handling every nuance of management from ordering spares to follow up to ensure functional machinery. Our team of highly experienced professionals consisting of Technical, Purchase, Crewing, Travel and Accounts have first hand knowledge related to various types of commercial cargo vessels including general cargo, multipurpose vessels, container vessels, tugs, bunker barge and tanker vessels including gas, chemical, clean petroleum products, crude carriers. We have under our management, product tankers & bulk carriers under the flag of St.Kitts & Nevis.
              </p>
            </div>
        </div>
            </div>
          </div>
       </div>

       <div class="col-md-12 mt-3">
        <div class="card p-2">
            <div class="row">
                <div class="col-md-2">
            <img  src="/assets/img/serviseb.png" class="card-img-top img-tp" alt="..."/>
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 para-services">
              <h5 class="con-title">SAFETY AND QUALITY MANAGEMENT            </h5>
              <p class="card-text text-left">Functional Document of Compliance issued and maintained by a competent authority as well as maintaining the ISM system onboard owing to which we are able to operate as a third party Technical Manager. Certified by DNV-GL and ISO 9001:2015</p>
            </div>
        </div>
            </div>
          </div>
       </div>

       <div class="col-md-12 mt-3">
        <div class="card p-2">
            <div class="row">
                <div class="col-md-2">
            <img  src="/assets/img/servised.png" class="card-img-top img-tp" alt="..."/>
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 para-services">
              <h5 class="con-title">CREWING MANAGEMENT </h5>
              <p class="card-text text-left">Identification, short list, interview, undertake medicals and recruit sea going personnel.
                Screening utilizing criteria like Certification, sea going experience and Motivation are keys.<br>
                Our support from our field offices in India, Indian subcontinent, Myanmar, Philippines and Sri Lanka ensures timely placement of sea-farer’s on vessel’s.
                Maintaining a Multicultural and multinational group ensures harmony of sea going personnel.</p>
            </div>
        </div>
            </div>
          </div>
       </div>

       <div class="col-md-12 mt-3">
        <div class="card p-2">
            <div class="row">
                <div class="col-md-2">
            <img  src="/assets/img/servisec.png" class="card-img-top img-tp" alt="..."/>
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 para-services">
              <h5 class="con-title">PURCHASING MANAGEMENT</h5>
              <p class="card-text text-left">Purchasing spares from various vendors of the world is done in an informed way from our collective experience. It ensures the supply of correct spares in a organized manner.</p>
            </div>
        </div>
            </div>
          </div>
       </div>

       <div class="col-md-12 mt-3">
        <div class="card p-2">
            <div class="row">
                <div class="col-md-2">
            <img  src="/assets/img/servise-5.png" class="card-img-top img-tp" alt="..."/>
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 para-services">
              <h5 class="con-title">OTHER SERVICES</h5>
              <p class="card-text text-left">
                  <ul>
                    <li>Facilitation of all marine related jobs in Indian Ports.</li>
                    <li>Marine Project Management Services.</li>
                    <li>Passenger boat, Tugs, Barges and Hovercraft Services.</li>
                    <li>Provided Technical consultancy for repairs of all types of vessel.</li>
                    <li>Assisted our clients from around the world in various ports with complete marine domain solutions.</li>
                    <li> Flag Documentation and Certification by the various flags</li>
                     
                  </ul>
              </p>
            </div>
        </div>
            </div>
          </div>
       </div>
     
    
    </div>
        </div>
 

    <!--------main------->



<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>