  <!-------include header------>

<%- include('include/_header') %>
<!-------include header------>


  <!-----------<form>----------->
    <form action="/" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Post applied for
                    </th>
                    <th>
                        Name as passport
                    </th>
                    <th>
                        Last name as passport
                    </th>
                    <th>
                        Date of birth
                    </th>
                    <th>
                        Mobile no.
                    </th>
                    
                    <th>
                        Email
                    </th>
                    <th>
                        COC no.
                    </th>
                    <th>
                       Issued at
                    </th>
                    <th>
                        avatar
                    </th>
                    
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <%- include('include/_show') %>
            </tbody>
        </table>
        </form>
       
        <!-----------<form>----------->

            
<!-------include _footer------>

<%- include('include/_footer') %>
<!-------include _footer------>